#enemies(ng-show="mainCtrl.isTabVisible('enemies')")
  h2 The Red Team
  img(src='http://lorempixel.com/400/200/animals')
  button(ng-click="mainCtrl.setCurrentTab('allies')") Go to your team ->
  button(ng-click="mainCtrl.setCurrentTab('match_stats')") Go to stats ->
