.footer.align--center
  hr.align--center
  p
    | developed in 48 hours during 2016
  p
    a.no-underline(href="https://www.angularattack.com", target="blank")
      img(src="./images/logo2.png")
      span ANGULAR ATTACK
  p
    | by&nbsp;
    a(href="https://github.com/orgs/welaika/people/mukkoo", target="blank")@mukkoo
    | &nbsp;
    a(href="https://github.com/pioneerskies", target="blank") @Pioneer_Skies
    | &nbsp;
    a(href="https://github.com/orgs/welaika/people/namuit", target="blank") @c1p8
    | &nbsp;
    a(href="https://github.com/orgs/welaika/people/ramensoup", target="blank") @ramensoup7
    | : the&nbsp;
    a(href="http://dev.welaika.com/", target="blank") weLaika
    | &nbsp;team

  p
    small We are not affiliated with Blizzard Inc. All trademarks are the property of their respective owners.


