.footer.align--center
  hr.align--center
  p
    | developed in 48 hours during 2016
  p
    img(src="./images/logo2.png")
    span ANGULAR ATTACK
  p
    | by&nbsp;
    a(href="https://github.com/orgs/welaika/people/mukkoo")@mukkoo
    | &nbsp;
    a(href="https://github.com/pioneerskies") @Pioneer_Skies
    | &nbsp;
    a(href="https://github.com/orgs/welaika/people/namuit") @c1p8
    | &nbsp;
    a(href="https://github.com/orgs/welaika/people/ramensoup") @ramensoup7
    | : the&nbsp;
    a(href="http://dev.welaika.com/") weLaika
    | &nbsp;team

  p
    small We are not affiliated with Blizzard Inc. All trademarks are the property of their respective owners.


