#match_stats(ng-show="mainCtrl.isTabVisible('match_stats')" match-stats allies-heroes="{{mainCtrl.selectedHero('allies')}}" enemies-heroes="{{mainCtrl.selectedHero('enemies')}}" stats="mainCtrl.stats")
  h2 Match Statistics

  .grid
    .grid__item complexity
    .grid__item.width-6-12
      | {{mainCtrl.stats.allies.complexity | number: 2}} %
    .grid__item.width-6-12
      | {{mainCtrl.stats.enemies.complexity | number: 2}} %
    .grid__item damage
    .grid__item.width-6-12
      | {{mainCtrl.stats.allies.damage | number: 2}} %
    .grid__item.width-6-12
      | {{mainCtrl.stats.enemies.damage | number: 2}} %
    .grid__item survivability
    .grid__item.width-6-12
      | {{mainCtrl.stats.allies.survivability | number: 2}} %
    .grid__item.width-6-12
      | {{mainCtrl.stats.enemies.survivability | number: 2}} %
    .grid__item utility
    .grid__item.width-6-12
      | {{mainCtrl.stats.allies.utility | number: 2}} %
    .grid__item.width-6-12
      | {{mainCtrl.stats.enemies.utility | number: 2}} %


  button.button(ng-click="mainCtrl.setCurrentTab('enemies')") <- Back to enemy team
