#match_stats(ng-show="mainCtrl.isTabVisible('match_stats')")
  h2 Match Statistics
  img(src='http://lorempixel.com/400/200')
  button(ng-click="mainCtrl.setCurrentTab('enemies')") <- Go to enemy team
